.header-store {
  color: #ffffff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  text-transform: uppercase;
  float: left;
  cursor: pointer;
}

.header-store > .navigation {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
}

.header-store [type="search"] {
  background: transparent;
  border: none;
  border-bottom: solid 1px #ffffff;
  width: 358px;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  color: inherit;
  padding: 8px;
  margin-right: 65px;
  vertical-align: bottom;
}

.header-store [type="search"]::placeholder {
  color: #ffffff;
}

.header-store .action {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
  position: relative;
  padding-bottom: 8px;
  /* border-bottom: 1px solid transparent; */
}

.header-store .action.-last {
  margin-right: 0px;
}

.header-store .action:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 300ms linear;
  transform-origin: center left;
}

.header-store .action:hover:after {
  transform: scaleX(1);
}

@media (max-width: 1310px) {
  .header-store {
    padding-right: 60px;
  }
}

@media (max-width: 1235px) {
  .header-store > .title {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }

  .header-store > .navigation {
    float: none;
    text-align: center;
  }
}

@media (max-width: 955px) {
  .header-store {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-store [type="search"] {
    display: none;
  }
}

@media (max-width: 530px) {
  .header-store .action {
    margin-right: 30px;
  }
}

@media (max-width: 465px) {
  .header-store .action {
    margin-right: 15px;
  }
}

@media (max-width: 375px) {
  .header-store {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-store .action {
    margin-right: 8px;
  }
}

@media (max-width: 335px) {
  .header-store > .navigation {
    display: none;
  }
}
