.header-store {
  color: #ffffff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 315px;
}

.header-store > .busca {
  width: 358px;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: 65px;
  border-bottom: solid 2px #ffffff;
}

.header-store > .navigation {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  display: inline-block;
  vertical-align: top;
  justify-content: right;
}

.header-store .action {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}

.header-store .action.-last {
  margin-right: 0px;
}
