.product-list {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.product-title {
  font-size: 25px;
  margin-bottom: 100px;
}

.product-description {
  font-size: 20px;
  margin-bottom: 28px;
}

.product-description.-preco {
  margin-bottom: 70px;
}

.product-description.-box {
  font-size: 18px;
}

.more-info {
  color: inherit;
  text-decoration: none;
}

.product-description.-more-info-dd {
  margin-bottom: 100px;
}

.product-button {
  display: inline-block;
}

.container-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-photo {
  width: 547px;
  height: 547px;
  margin-top: 30px;
  margin-left: 105px;
}

.container-product-left {
  background-color: #ffffff;
  margin-right: 10px;
  border-radius: 150px;
}
